html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
}


.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px; 
  margin: 20px auto;
  display: grid;
  grid-template-columns: auto 1fr 1fr auto;
  grid-template-rows: 1fr auto;
  gap: 20px;
}

.grid div {
  background-color: #403f3f;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}