html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

.parent {
  width: 600px;
  height: 300px;
  background-color: #eee;
  padding: 10px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}

.parent div {
  background-color: #f44336;
  width:calc(97% / 3);
  color: white;
  padding: 10px;
  text-align: center;
}


