html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
}


.parent {
  width: 600px;
  height: 300px;
  background-color: #eee;
  padding: 10px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items:  flex-end;
}


.parent div {
  color: white;
  width: calc(70% / 4);
  height: 50%;
  flex-basis: 80px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent .one, .parent .three {
  align-self: flex-start;
}

.parent .one {
  background-color: #ff9800;
  order: 2;
  
}

.parent .two {
  background-color: #8bc34a;
  order: 3;
}

.parent .three {
  background-color: #795548;
  order: 4;
}


.parent .four {
  background-color: #673ab7;
  order: 1;
}
